<!--Maintainer Aditya Khopkar-->
<!--email akhopkar@terpmail.umd.edu-->
<launch>
	<arg name="record" default="disable"/>
	<include file="$(find turtlebot-walker)/launch/turtlebot_world.launch"></include>

	<node pkg="turtlebot-walker" name="Walker" type="Walker" output="screen"/>
	<!--rosbag functionality-->
	<node
		pkg="rosbag"
		name="record"
		type="record"
		args="-a -O $(find turtlebot-walker)/results/turtlebot_walker.bag -x /camera/(.*)"
		if="$(eval record == 'enable')"
	/>

</launch>